.container {
  width: 100vw;
  height: 100%;
  padding: 150px 300px;
}

.title {
  font-size: 50px;
  font-family: Pretendard-Bold;
}

.write-container {
  width: 100%;
  height: 100%;
  margin: 50px 0;
}

.title input {
  width: 100%;
  height: 80px;
  font-size: 25px;
  font-family: Pretendard-Light;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #b0b0b0;
}
.image {
  margin: 50px 0;
}
.image p {
  font-size: 18px;
  color: #b0b0b0;
}

.image-drag {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 1px dashed #b0b0b0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-drag input {
  display: none;
}

.image-drag label {
  font-size: 15px;
  color: #b0b0b0;
}

.image-preview {
  width: 100%;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid #b0b0b0;
  margin: 10px 0 50px 0;
  border-radius: 10px;
  overflow: hidden;
  gap: 10px;
  padding: 0 10px;
}

.delete-button {
  position: relative;
  top: 32px;
  left: 2px;
  border-style: none;
  background-color: transparent;
  color: #505050;
  font-size: 20px;
  padding: 0;
}
.images {
  object-fit: cover;
  border: 1px solid #b0b0b0;
}

.contents textarea {
  width: 100%;
  height: 300px;
  font-size: 18px;
  font-family: Pretendard-Light;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #b0b0b0;
  resize: none;
}
.submit-btn {
  display: flex;
  justify-content: flex-end;
}
.submit-btn button {
  width: 150px;
  height: 50px;
  color: white;
  background-color: #83e0a5;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: Pretendard-Light;
  margin-left: 30px;
}

.submit-btn button:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
