.container {
  width: 100vw;
  height: 100px;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.logo {
  font-size: 30px;
  color: #83e0a5;
  text-decoration: none;
  margin: 50px;
}

.category {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: 30px;
}

.category:hover {
  border-bottom: 2px solid black;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
