.wrapper {
  width: 100%;
  height: calc(100vh - 201px);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}



.inputbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input {
  display: flex;
  margin: 60px;

}


.inputsize {
  width: 600px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #B0B0B0;
}

.ptagposition {
  width: 4rem;
  display: flex;
  align-self: center;
  margin-right: 50px;
  font-weight: 800;
}


.buttonbox {
  display: flex;
  flex-direction: column;

  width: 30%;
  outline: none;
  border: none;
  height: 30%;
  padding: 10px;
  justify-content: space-around;
  height: 300px;
}

.button {
  outline: none;
  border: none;
  height: 59px;
  font-weight: 800;
  border-radius: 10px;
  transition: .2s;
  cursor: pointer;
}

.button:first-child {
  background-color: #83E0A5;
  color: #fff;
}


.button:nth-child(2) {
  border: 2px solid black;
}

.button:nth-child(2):hover {
  background-color: black;
  color: #fff;
}

.button:nth-child(3) {
  color: #fff;
  background-color: black;
}

.button:nth-child(3):hover {
  color: black;
  background-color: #fff;
  border: 2px solid black;
}