.container {
  width: 60vw;
  height: 100%;
  min-height: 60vh;
  margin: 70px auto 100px auto;
}

.title {
  font-size: 35px;
  font-family: Pretendard-Bold;
}

.search-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 20px;
}

.search-wrap input {
  width: 400px;
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid #b0b0b0;
  outline: none;
}

.search-wrap button {
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #83e0a5;
  cursor: pointer;
  text-align: center;
  line-height: 55px;
}

.search-wrap button:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px auto;
}

.content-container {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.content-link {
  text-decoration: none;
}
.content-wrap {
  width: 300px;
  height: 500px;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
}

.content-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.content-wrap > div {
  padding: 10px 15px;
}

.user-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.user-wrap p {
  font-family: Pretendard-Light;
  color: #b0b0b0;
  font-size: 15px;
  margin-bottom: 10px;
}

.user {
  display: flex;
  line-height: 30px;
  gap: 5px;
}

.user-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.user p {
  font-size: 15px;
  font-family: Pretendard-Light;
  color: black;
}

.title-comment {
  display: flex;
  align-items: center;
}

.title-comment p {
  height: 100%;
  color: black;
  font-size: 20px;
  font-family: Pretendard-Medium;
}

.title-comment span {
  color: #b0b0b0;
  font-size: 15px;
  margin-left: 10px;
}

.write-wrap {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin: 50px auto 0 auto;
}

.write-btn {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #83e0a5;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: Pretendard-Light;
}

.write-btn:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.pagination-button-wrap {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 50px 0 0 0;
}

.select-button {
  border: none;
  background-color: transparent;
  color: #83e0a5;
  border-bottom: 2px solid #83e0a5;
  cursor: pointer;
}

.button {
  border: none;
  background-color: transparent;
  color: #b0b0b0;
  cursor: pointer;
}
