.container {
  width: 100vw;
  height: 100%;
  padding: 150px 200px;
}

.title {
  font-size: 50px;
  font-family: Pretendard-Bold;
}
.search-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.search-wrap input {
  width: 400px;
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid #b0b0b0;
  outline: none;
}

.search-wrap button {
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #83e0a5;
  cursor: pointer;
  text-align: center;
  line-height: 55px;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
}
.content-wrap {
  width: 300px;
  height: 500px;
  background-color: white;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
}

.content-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.content-wrap > div {
  padding: 10px 15px;
}

.content-wrap span {
  height: 100%;
  font-size: 20px;
  font-family: Pretendard-Medium;
}
.user-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.user-wrap p {
  font-family: Pretendard-Light;
  color: #b0b0b0;
  font-size: 15px;
  margin-bottom: 10px;
}

.user {
  display: flex;
  line-height: 30px;
  gap: 5px;
}

.user-profile {
  width: 30px;
  height: 30px;
}
.user p {
  font-size: 15px;
  font-family: Pretendard-Light;
  color: black;
}

.write-wrap {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}
.write-btn {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #83e0a5;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: Pretendard-Light;
}
