/* modal */
.modal-comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.modal-comment {
  width: 90%;
  resize: none;
  padding: 10px 15px;
}
.modal-button {
  width: 25%;
  border: none;
  border-radius: 10px;
  background-color: #83e0a5;
  padding: 10px 20px;
  color: white;

  cursor: pointer;
}
