.container {
    padding-bottom: 50px;
    margin: 50px 100px 50px 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    padding-top: 25px;
}

.grid > div {
    margin: 0;
}


.brand-button {
    margin: 20px 20px 0 0;
    border-radius: 15px;
    width: 90px;
    background: white;
    color: #495057;
    border: 1px #495057 solid;
    cursor: pointer;
}

.selected, .brand-button:hover {
    background: #83E0A5;
    color: white;
    border: 0;
}