.card {
  position: relative;
  display: flex;
  justify-content: center;
  height: 300px;
  min-width: 300px;
  width: 300px;
  margin: 10px 100px 10px 0;
  border-radius: 15px;
  padding-left: 1px;
}

.card img {
  height: 300px;
  border-radius: 15px;
  min-width: 300px;
  cursor: pointer;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card:hover .description {
  background: #83E0A5;
}

.card:hover .hidden-message {
  opacity: 1;
}

.hidden-message {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 230px;
  background: rgba(0, 0, 0, 0.49);
  color: white;
  opacity: 0;
  border-radius: 10px 10px 0 0;
  font-size: 1.7rem;
  transition: all .5s;
  cursor: pointer;
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 230px;
  width: 100%;
  height: 70px;
  background: rgba(131, 224, 165, 0.6);
  border-radius: 0 0 15px 15px;
  color: white;
  transition: background-color .5s;
  cursor: pointer;
}

.description span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description span:nth-child(2) svg {
  color: #fab005;
  margin-right: 10px;
}