.card {
  display: flex;
  justify-content: center;
  height: 300px;
  min-width: 300px;
  margin: 10px 100px 10px 0;
  border-radius: 15px;
}

.card img {
  height: 300px;
  border-radius: 15px;
  min-width: 300px;
  cursor: pointer;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
