.qna-write-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.qna-write-title {
  width: 60%;
  display: flex;
  justify-content: flex-start;

  font-size: 25px;
}
.qna-write-select {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  margin: 30px 0px 30px 0px;
}
.qna-write-select select {
  width: 15%;
  border: none;
  border-right: 3px solid #83e0a5;
  border-radius: 10px;
  background-color: #83e0a5;
  color: white;
  outline: none;
  padding: 10px;
  cursor: pointer;
}
.qna-write-select option {
  background-color: white;
  color: black;
}
.qna-write-contents {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.qna-write-contents input,
.qna-write-contents textarea {
  padding: 10px 15px;
  border: 1px solid #b0b0b0;
  border-radius: 10px;
  outline: none;
}
.qna-write-contents input {
  padding: 20px 15px;
}
.qna-write-contents textarea {
  resize: none;
}
.qna-write-registration-btn {
  width: 60%;
  display: flex;
  justify-content: flex-end;

  margin: 30px 0px 100px 0px;
}
.qna-write-registration-btn button {
  width: 15%;
  border: none;
  border-radius: 10px;
  background-color: #83e0a5;
  padding: 10px 15px;
  color: white;

  cursor: pointer;
}
